
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=6e4d2a8c-25dd-4d05-ac2d-c2336875e148");

@font-face {
  font-family:"Aktiv Grotesk W01_n2";
  src:url("../fonts/a5cd7b48-fe3c-4c5d-89d2-575ba3e0bbe8.eot?#iefix") format("eot")
}

@font-face {
  font-family:"Aktiv Grotesk W01";
  src:url("../fonts/a5cd7b48-fe3c-4c5d-89d2-575ba3e0bbe8.eot?#iefix");
  src:url("../fonts/a5cd7b48-fe3c-4c5d-89d2-575ba3e0bbe8.eot?#iefix") format("eot"),
      url("../fonts/43e12dfb-339e-40c1-ad28-6aff091d34e7.woff2") format("woff2"),
      url("../fonts/06017a84-551c-401f-b300-ce5b0ecdba61.woff") format("woff"),
      url("../fonts/3eca8fb4-ba4f-4797-adaa-618e0dd58a3c.ttf") format("truetype"),
      url("../fonts/b63cf2f3-6b55-4f75-8796-761df0cc7c62.svg#b63cf2f3-6b55-4f75-8796-761df0cc7c62") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face{
  font-family:"ITC Avant Garde Gothic W01_n5";
  src:url("../fonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix") format("eot")
}

@font-face{
  font-family:"ITC Avant Garde Gothic W01";
  src:url("../fonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix");
  src:url("../fonts/b74e5f86-4477-435a-abdf-32d8215f21bc.eot?#iefix") format("eot"),
      url("../fonts/7e915c3f-253c-4ce7-ac60-7feecddafa80.woff2") format("woff2"),
      url("../fonts/c18aee57-7585-4a8b-9a1c-69d226301d73.woff") format("woff"),
      url("../fonts/44ccbb2b-0fbc-4d95-b1da-0aa73bd26fb0.ttf") format("truetype"),
      url("../fonts/f2de529c-11d2-43b7-be7c-05c5aaeaf133.svg#f2de529c-11d2-43b7-be7c-05c5aaeaf133") format("svg");
  font-weight: 500;
  font-style: normal;
}
